#navbar {
  @include flexsc;
  background-color: #0033CC;
  padding: 16px 22px;
  color: white;
  font-family: arial;
  font-weight: bold;
}

#navbar-left {
  @include flexsc;
}

#nav-logo {
  margin: 0;
  font-size: 24px;
  margin-right: 40px;
}

#nav-new-project {
  width: 120px;
  background-color: #FD0133;
}

#nav-sign-out {
  width: 80px;
  background-color: #013398; 
}