<div id="navbar">
  <div id="navbar-left">
    <h1 id="nav-logo">HOME IMPROVEMENT</h1>
    <div id="nav-new-project" class="nav-button">NEW PROJECT<div></div></div>
  </div>
  <div id="nav-sign-out" class="nav-button">SIGN OUT<div></div></div>
</div>